form {
	max-width: 500px;
	margin: 0 auto $size__site-gutter;
	text-align: left;
}

label {
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $color__highlight;
	display: block;
	text-align: left;
}

input[type="text"],
input[type="email"] {
	color: $color__secondary;
	border: 2px solid $color__accent;
	border-bottom-color: $color__shadow;
	border-radius: 0;
	font-size: 1em;
	font-family: $font__sans;
	padding: 12px;
	width: calc(100% - 180px);

	&:focus {
		outline: none;
		color: $color__accent;
		border-color: $color__highlight;
	}
}

input[type="submit"] {
	background: $color__accent;
	border: 0;
	border-bottom: 2px solid $color__shadow;
	box-shadow: none;
	color: $color__white;
	font-family: $font__sans;
	font-weight: 400;
	margin-left: -6px;
	padding: 13px;
	text-decoration: none;
	transition: all ease-in-out 50ms;
	width: 150px;
	vertical-align: top;

	&:hover {
		background-color: $color__shadow;
		border-color: darken($color__shadow, 20%);
	}

	&:active,
	&:focus {
		outline: none;
		background-color: $color__highlight;
		border-color: $color__accent;
	}
}
