$size__site-gutter: 40px;

$font__sans: Karla, Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color__charcoal: #333233;
$color__red: #c81d25;
$color__blue: #AED1E6;
$color__white: #F7F7F2;

$color__primary: $color__blue;
$color__accent: $color__red;
$color__highlight: lighten($color__accent, 20%);

$color__background: $color__charcoal;
$color__text: $color__white;
$color__links: $color__accent;
