/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";
@import "variables";
@import "accessibility";
@import "forms";
@import "icons";

body {
	background: $color__background;
	color: $color__text;
	padding: $size__site-gutter;
	text-align: center;
	font-family: $font__sans;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}

a {
	color: $color__links;
}

.site-title {
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0 auto $size__site-gutter;
	text-transform: uppercase;
}

.page-title {
	font-size: 3.6rem;
	font-weight: 600;
	letter-spacing: -1px;
}

.custom-logo {
	margin: 0 auto $size__site-gutter;
	max-width: 200px;
	height: auto;
}
